#title {
    text-align: center;
    margin-bottom: 50px;
}

#libraryTab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

#addBookButton {
    display: inline-block;
    align-self: flex-start;
    background-color: rgb(123, 158, 255);
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 17px;
}

.deleteBook {
    margin-left: 25px;
    background-color: red;
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
}

.changeReadStatus {
    margin-left: 25px;
    background-color: yellow;
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
}

#defaultLibrary {
    background-color: burlywood;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    height: 50px;
    align-items: center;
}

.bookLine {
    background-color: rgba(255, 0, 0, 0.582);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    height: 50px;
    align-items: center;
}

.cell {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
